//===============================================================================
// GLOBAL-VARIABLES
//===============================================================================

// COLOURS
//===============================================================================
$paper: white;
$ink: #193956;
$ink-secondary: #6B97B2;

$header: $ink;
$link: #0B93F9;

$green: #51E051;
$green-secondary: #65EA65;

$orange: #FCA32D;
$orange-secondary: #FFAF50;

$red: #EF5750;
$red-secondary: #F96969;

// FONTS
//===============================================================================
// font stacks
$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
$verdana: Verdana, Geneva, sans-serif;

$body-font: "proxima-nova", $helvetica;

// DIMENSIONS
//===============================================================================
$base-font-size: 20px;

// font sizes
   $tera: 4.2rem; // 84px @ 20px base font size
   $giga: 3.5rem; // 70px @ 20px base font size
   $mega: 2.6rem; // 52px @ 20px base font size
  $alpha: 2.2rem; // 44px @ 20px base font size
   $beta: 1.6rem; // 32px @ 20px base font size
  $gamma: 1.3rem; // 26px @ 20px base font size
  $delta: 1rem;   // 20px @ 20px base font size
$epsilon: 0.8rem; // 16px @ 20px base font size
   $zeta: 0.6rem; // 12px @ 20px base font size